@font-face {
    font-family: 'AvenirNext';
    src: url('/font/avenir-next/font/avenir-next/AvenirNextCyr-UltraLight.woff')
        format(woff);
    src: url('/font/avenir-next/font/avenir-next/AvenirNextCyr-UltraLight.woff2')
        format(woff2);
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'AvenirNext';
    src: url('/font/avenir-next/font/avenir-next/AvenirNextCyr-Thin.woff')
        format(woff);
    src: url('/font/avenir-next/font/avenir-next/AvenirNextCyr-Thin.woff2')
        format(woff2);
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'AvenirNext';
    src: url('/font/avenir-next/font/avenir-next/AvenirNextCyr-Medium.woff')
        format(woff);
    src: url('/font/avenir-next/font/avenir-next/AvenirNextCyr-Medium.woff2')
        format(woff2);
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'AvenirNext';
    src: url('/font/avenir-next/font/avenir-next/AvenirNextCyr-Regular.woff')
        format(woff);
    src: url('/font/avenir-next/font/avenir-next/AvenirNextCyr-Regular.woff2')
        format(woff2);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'AvenirNext';
    src: url('/font/avenir-next/font/avenir-next/AvenirNextCyr-Bold.woff')
        format(woff);
    src: url('/font/avenir-next/font/avenir-next/AvenirNextCyr-Bold.woff2')
        format(woff2);
    font-style: normal;
    font-weight: 600;
}

body {
    font-family: 'AvenirNext', sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: toRem(16);
}
